{
  "id":"duplicity",
  "password":"Enter a password that will be used by duplicity for symmetric
  encryption when storing to S3.  If you lose this password, you will lose
  access to your backups"
}

