{
  "access_key_id":"Your AWS Access Key",
  "secret_access_key": "Your AWS Secret Access Key",
  "keypair_name":"The AWS name of the .pem keypair you want to use",
  "ssh_private_key_path":"The path to your local copy of that .pem",
  "ssh_username":"The ssh username to log into your fresh EC2 instance (ubuntu
  on a fresh Ubuntu server"
}

